@font-face {
  font-family: "Neue1";
  src: local("Neue"),
    url("./fonts/NeueMetanaNext-SemiBold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Neue2";
  
  src: local("Neue"),
    url("./fonts/NeueMetanaNextOutline-Black.ttf") format("truetype");
  font-weight: normal;
}


body {
  font-family: 'Neue1' ;

}